<h1>Listing checkouts</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Tool</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tool.checkouts.each do |checkout| %>
      <tr>
        <td><%= checkout.email %></td>
        <td><%= checkout.tool_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
