<h1>Listing checkouts</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Tool</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= checkout.email %></td>
        <td><%= checkout.tool.name %></td>
        <td><%= link_to 'Return Item', [@tool, checkout], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>