<section>
  <%= link_to 'Back', home_path %>
  <% @checkouts.each do |checkout| %>
    <ul>
      <li><%= checkout.email %></li>
    </ul>

    <div id="return">
      <!-- <p><%= checkout.tool.name %></p>
      <p><%= link_to 'Return Item', [@tool, checkout], confirm: 'Are you sure?', method: :delete %></p> -->
    </div>
  <% end %>

</section>

