#nav {
  text-align: center;
  ul {
    list-style: none;
    margin: 0 auto;
    text-decoration: none;
    width: 100%;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0px;
    li {
      display: inline-block;
      margin: 0 auto;
      padding: .8em;
      hover{
        color: black;
      }
    }
    li:nth-of-type(2){
      border: 1px solid #d3d3d3;
      border-radius: 50%;
      height: 75px;
      font-size: 1.6em;
      padding-top: 22px;
      width: 75px;
    }
  }
}