@charset 'utf-8';

///////////////////////////////////////////////////////////////////////////////

@import 'bourbon';
@import 'neat';

///////////////////////////////////////////////////////////////////////////////


html {
  border: 1px solid #d3d3d3;
  color: black;
  font-family: Helvetica;
  height: 100%;
  margin: 0 auto;
  max-width: 63em;
  min-width: 47em;
  padding: 1em;
}